<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Car Carry</title>
    <link rel="icon" type="image/png" href="images/fav.png">

    <link rel="stylesheet" href="css/apps.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>
<body>
	<div class="site-layout">
        <div class="comingsoon-page blackish low-opacity">
			<div class="bg-image" style="background-image:url(images/slider/featured-avatar5.jpg);"></div>
			<div class="coming-soon-top">
				<div class="logo">
					<a href="index.html" title=""><img src="images/logo-white.png" alt=""></a>
				</div>
			</div>
			<div class="coming-meta">
				<h1>404</h1>
				<span>Ooops, Sorry Page Not Available.</span>
				<p>
					May be some problem with the link or hosting side. please Go back to home for more quries.
				</p>
				<a href="index.html" title="" class="theme-btn"><i class="fa fa-home"></i>Go Back to Home !</a>
			</div>
		</div>
	</div>
	<script src="js/apps.min.js"></script>
    <script src="js/script.js"></script>
	
	

        
</body>	
</html>		