<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Car East</title>
    <link rel="icon" type="image/png" href="images/fav.png">

    <link rel="stylesheet" href="css/apps.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>
<body>

<div th:replace="~{fragments/PageForm :: head}"></div>
<div class="header-top">
    <div class="container">
        <div class="row">
            <div th:replace="~{fragments/PageForm :: header-top}"></div>
        </div>
    </div>
</div>
</div><!-- topbar -->

<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- topbar -->
                <div th:replace="~{fragments/PageForm :: topbar}"></div>
                <!-- subhead -->
            </div>
        </div>
    </div>
</div><!-- topbar header -->

    <section>
            <form id="filter" action="#" th:action="@{/trips}" method="get" th:object="${filterOptions}">
                <div class="head-search">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="search-route">
                                    <div class="location">
                                        <p>
                                            <label><i class="fa fa-location-arrow"></i></label>
                                            <input type="text" placeholder="Your location" th:field="*{startPointCity}">
                                        </p>
                                        <p>
                                            <label><i class="fa fa-location-arrow"></i></label>
                                            <input type="text" placeholder="Going to" th:field="*{endPointCity}">
                                        </p>
                                    </div>
                                    <div class="date-n-time">
                                        <p>
                                            <label><i class="fa fa-calendar"></i></label>
                                            <input id="datetimepicker1" type="text" th:field="*{departureDate}">
                                        </p>
                                        <p>
                                            <label><i class="fa fa-clock-o"></i></label>
                                            <input id="datetimepicker2" type="text" th:field="*{departureTime}">
                                        </p>
                                    </div>
                                    <button class="theme-btn" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="space-70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <div class="heading text-left no-margin">
                                <h5>Upcoming rides</h5>
                            </div>
                            <div class="rides-list">
                                <div class="rides-listing" th:id="${trip.id}" th:each="trip: ${trips}" onclick="redirectToPage(parseInt(this.id))">
                                    <div class="rider-imag">
                                        <img th:if="${trip.getDriver().getProfilePic() != null}" th:src="${trip.getDriver().getProfilePic().getPic()}" alt="">
                                        <img th:unless="${trip.getDriver().getProfilePic() != null}" src="/images/default-pic.png" alt="">
                                        <div class="rating">
                                            <em th:text="${trip.getDriver().getUsername()}"></em>
                                            <ul class="stars-rating" th:if="${trip.driver.getAverageRating() > 0}">
                                                <li th:each="star : ${#numbers.sequence(1, trip.driver.getAverageRating())}"><i class="fa fa-star checked"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="rides-meta">
                                        <h4 th:text="'On ' + ${#temporals.format(trip.getDepartureTime(), 'dd.MM')} + ' at ' + ${#temporals.format(trip.getDepartureTime(), 'HH:mm')}"
                                            >Today at 13:40</h4><span>
                                        	<i class="fa fa-location-arrow"></i>
                                            <em th:text="${trip.getStartPoint().getCity().getName()}">Bristol</em>
                                            <em th:text="${trip.getEndPoint().getCity().getName()}">Cambridge</em>
                                        </span>
                                        <p th:text="'Departure: '+ ${trip.getStartPoint().getStreetName()}">Departure: Bristol</p>
                                        <p th:text="'Arrival: '+${trip.getEndPoint().getCity().getName()}">Arrival: Ely Cathedral, Cambridge</p>
                                    </div>
                                    <div class="price-tag">
                                        <em th:text="${#numbers.formatInteger(trip.getDistance(), 0)} + ' km'"></em>
                                        <div class="availablity">
                                            <span th:each="seatNumber : ${#numbers.sequence(trip.getCountApproved(), trip.getSeatsAvailable()-1)}"  class="avail"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <div th:replace="~{fragments/PageForm :: footer}"></div>
</div>

<script src="js/apps.min.js"></script>
<script src="js/script.js"></script>

<script>
    $(function () {
        var handle = $("#custom-handle");
        $("#slider").slider({
            create: function () {
                handle.text($(this).slider("value"));
            },
            slide: function (event, ui) {
                handle.text(ui.value);
            }
        });
    });

</script>

<script>
    function redirectToPage(id) {
        window.location.href = "/trips/"+id; // Replace "/your-destination-url" with the URL you want to redirect to
    }
</script>

</body>
</html>		