<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/PageForm :: head}"></div>
<body>
<div class="sidebar right">
    <div class="note-box">
        <!--                                            Check if authenticated and current user is driver or passenger-->
        <span><i
                class="flaticon-volkswagen-car-side-view"></i> Leave Feedback </span>
        <button id="showCommentFormButton" class="theme-btn"> + comment
            (optional)
        </button>


        <div id="modalOverlayComment">
            <div id="formContainerComment" style="display: none;" >
                <form method="post" class="cola-form" th:action="@{'/users/'+ ${receiver.id} + '/feedbacks/' + ${feedback.id} + '/comments'}"
                      th:object="${comment}">
                    <div class="row">
                        <div class="col-lg-12">

                            <label for="feedback-comment"></label>
                            <textarea name="content" id="feedback-comment"
                                      rows="3"
                                      placeholder="Comment (optional)"
                                      required="required" th:field="${comment.content}"></textarea>
                        </div>
                    </div>

                    <button type="submit" value="Submit" class="theme-btn">Save
                    </button>
                    <button type="button" class="theme-btn"
                            onclick="closeFormComment()">
                        Close
                    </button>

                </form>
            </div>
        </div>
    </div>

</div>
<script src="/js/buttons.js"></script>
</body>
</html>