<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/PageForm :: head}"></div>
<body>
<div class="site-layout">
    <div th:replace="~{fragments/PageForm :: header-top}"></div>
    <!-- topbar -->
    <div th:replace="~{fragments/PageForm :: topbar}"></div>
    <!-- subhead -->

    <section>
        <div class="space">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="login-sec">
                            <div class="row">
                                <div class="offset-md-1 col-md-7">
                                    <div class="cola-form">
                                        <h4><i class="flaticon-key"></i>Login:</h4>
                                        <form method="POST" action="#" th:action="@{/auth/login}"
                                              th:object="${login}">
                                            <label>Email</label>
                                            <input type="text" th:field="*{email}" placeholder="Email">
                                            <label class="error" style="margin-bottom: 30px" id="email-err" th:errors="*{email}"></label>
                                            <label>password</label>
                                            <input type="password" th:field="*{password}" placeholder="Password">
                                            <label class="error" id="password-err" th:errors="*{password}"></label>
                                            <button type="submit" id="checkbox" class="theme-btn" value="Login">login</button>
                                        </form>
                                        <span>Aren’t you a member yet? <a href="RegisterView.html" th:href="@{/auth/register}" title="">Register here</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- form section -->

    <div th:replace="~{fragments/PageForm :: footer}"></div>
    <!-- footer -->

</div>

<script src="/js/apps.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>