<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/PageForm :: head}"></div>
<body>
<div class="site-layout">
    <div th:replace="~{fragments/PageForm :: header-top}"></div>
    <!-- topbar -->
    <div th:replace="~{fragments/PageForm :: topbar}"></div>
   <!-- subhead -->

    <section>
        <div class="space">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="login-sec">
                            <div class="row">
                                <div class="offset-lg-1 col-lg-7 col-md-8">
                                    <div class="cola-form">
                                        <h4><i class="flaticon-sign-in"></i>Register:</h4>
                                        <form method="POST" action="#" th:action="@{/auth/register}"
                                              th:object="${register}">
                                            <label>first Name:</label>
                                            <input type="text" th:field="*{firstName}">
                                            <label class="error" style="margin-bottom: 30px" id="f-name-err" th:errors="*{firstName}"></label>
                                            <label>last name:</label>
                                            <input type="text" th:field="*{lastName}">
                                            <label class="error" style="margin-bottom: 30px" id="l-name-err" th:errors="*{lastName}"></label>
                                            <label>username:</label>
                                            <input type="text" th:field="*{username}">
                                            <label class="error" id="username-err" th:errors="*{username}"></label>
                                            <label>email:</label>
                                            <input type="text" th:field="*{email}">
                                            <label class="error" style="margin-bottom: 30px" id="email-err" th:errors="*{email}"></label>
                                            <label>phone number:</label>
                                            <input type="text" th:field="*{phoneNumber}">
                                            <label class="error" id="p-number-err" th:errors="*{phoneNumber}"></label>
                                            <label>password:</label>
                                            <input type="password" th:field="*{password}">
                                            <label class="error" style="margin-bottom: 30px" id="password-err" th:errors="*{password}"></label>
                                            <label>confirm password:</label>
                                            <input type="password" th:field="*{passwordConfirm}">
                                            <label class="error" style="margin-bottom: 30px" id="password-confirm-err" th:errors="*{passwordConfirm}"></label>
                                            <button type="submit" class="theme-btn">register</button>
                                        </form>
                                        <span>Are you a member already? <a href="LoginView.html" th:href="@{/auth/login}" title="">Login here</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- form section -->

    <footer class="light">
        <div class="mockup-right">
            <img src="images/resources/footer-mockup.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="widget">
                        <a href="index.html" title=""><img src="images/logo-black.png" alt=""></a>
                        <p>
                            The trio took this simple idea and built it into the world’s leading carpooling platform, connecting millions of people going the same way.
                        </p>
                        <ul class="social">
                            <li><a href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" title="" class="instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="widget">
                        <div class="widget-title"><h4>useful links</h4></div>
                        <ul class="list-style">
                            <li><a href="#" title="">leasing</a></li>
                            <li><a href="#" title="">submit route</a></li>
                            <li><a href="#" title="">how does it work?</a></li>
                            <li><a href="#" title="">agent listings</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="widget">
                        <div class="widget-title"><h4>weekly news letter</h4></div>
                        <div class="news-letter">
                            <p>We may send you information about related events, webinars, products and services which we believe.</p>
                            <form method="post">
                                <input type="text" placeholder="Enter your email address">
                                <button type="submit"><i class="fa fa-paper-plane-o"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="widget">
                        <div class="widget-title"><h4>download apps</h4></div>
                        <ul class="colla-apps">
                            <li><a href="#" title=""><i class="flaticon-android"></i> android</a></li>
                            <li><a href="#" title=""><i class="flaticon-apple"></i> iPhone</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottombar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span class="copyright">© 2019. All rights reserved.</span>
                        <i><img src="/images/credit-cards.png" alt=""></i>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- footer -->

</div>

<script src="/js/apps.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>