<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Car East</title>
    <link rel="icon" type="image/png" href="images/fav.png">

    <link rel="stylesheet" href="/css/apps.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/responsive.css">

</head>
<body>
    <div th:replace="~{fragments/PageForm :: head}"></div>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div th:replace="~{fragments/PageForm :: header-top}"></div>
            </div>
        </div>
    </div>

<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- topbar -->
                <div th:replace="~{fragments/PageForm :: topbar}"></div>
                <!-- subhead -->
            </div>
        </div>
    </div>
</div><!-- topbar header -->

    <div class="sub-head blackish ext-low-opacity">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cola-head">
                        <div class="head-meta">
                            <h4 th:text="${trip.driver.getFirstName() +' '+ trip.driver.getLastName()}">Selena G.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- subhead -->

    <section>
        <div class="space">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="ride-detail">
                            <div class="rider-route">
                                <ul>
                                    <li>
                                        <em th:text="${#temporals.format(trip.getDepartureTime(), 'HH:mm')}">09:30</em>
                                        <div class="area">
                                            <span th:text="${trip.getStartPoint().getCity().getName()}"><i class="fa fa-location-arrow"></i>Bristol</span>
                                            <p th:text="${'Departure: '+ trip.getStartPoint().getStreetName()}">Departure: Bristol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <em th:text="${#temporals.format(trip.getArrivalTime(), 'HH:mm')}">12:45</em>
                                        <div class="area">
                                            <span th:text="${trip.getEndPoint().getCity().getName()}"><i class="fa fa-location-arrow"></i>Cambridge</span>
                                            <p th:text="${'Arrival: '+ trip.getEndPoint().getCity().getName()}">Arrival: Ely Cathedral, Cambridge</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="route-map">
                                    <i class="flaticon-road-perspective-of-curves"></i>
                                    <a href="#" title="" class="theme-btn slim"><i class="fa fa-flag-o"></i>see on map</a>
                                </div>
                            </div>
                            <div class="about-owner top-space50">
                                <h5 class="little-title">About the driver:</h5>
                                <div class="owner-avatar">
                                    <img th:if="${trip.getDriver().getProfilePic() != null}" th:src="${trip.getDriver().getProfilePic().getPic()}" alt="">
                                    <img th:unless="${trip.getDriver().getProfilePic() != null}" src="/images/default-pic.png" alt="">
                                    <i title=""><img src="images/icon-13.png" alt=""></i>
                                    <div class="rate">
                                        <ul class="stars-rating" th:if="${trip.driver.getAverageRating() > 0}">
                                            <li th:each="star : ${#numbers.sequence(1, trip.driver.getAverageRating())}"><i class="fa fa-star checked"></i></li>
                                        </ul>
                                        <i th:text="${trip.getDriver().getFeedbacks().size()+ ' reviews'}"></i>
                                    </div>
                                </div>
                                <div class="admin-meta">
                                    <span th:text="${trip.getDriver().getUsername()}">Cameron T.</span>
                                    <ul>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <a  th:href="@{'/users/'+${trip.getDriver().getId()}}" title="" class="theme-btn long">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div th:if="${!trip.getDriver().equals(currentUser) && currentUser.getApplications().contains(trip) }"class="remaing-widget disable">
                            <h4 th:text="${trip.getSeatsAvailable()+' remaining seat(s)'}"></h4>
                            <div class="price">
                                <button th:if="${!trip.getDriver().equals(currentUser) && !currentUser.getApplications().contains(trip) }" class="theme-btn place-request" title="" href="#">+ place request</button>
                                <p>
                                    By booking this trip you accept our <a href="#" title="">conditions of use</a> and <a href="#" title="">cancellation policy</a>.
                                </p>
                            </div>
                        </div><!-- remaining seat widget -->
                        <div th:if="${!trip.getDriver().equals(currentUser) && !currentUser.getApplications().contains(trip) }" class="remaing-widget disable">
                            <h4 th:text="${trip.getSeatsAvailable()+' remaining seat(s)'}"></h4>
                            <div class="price">
                                <button th:if="${!trip.getDriver().equals(currentUser) && !currentUser.getApplications().contains(trip) }" class="theme-btn place-request" title="" href="#" th:action="@{/trips/apply}">+ place request</button>
                                <button th:if="${!trip.getDriver().equals(currentUser) && currentUser.getApplications().contains(trip) }" class="theme-btn place-request" title="" href="#" th:action="@{/trips/cancelParticipation}">+ cancel request</button>
                                <p>
                                    By booking this trip you accept our <a href="#" title="">conditions of use</a> and <a href="#" title="">cancellation policy</a>.
                                </p>
                            </div>
                        </div>
                        <div th:if="${trip.getDriver().equals(currentUser) }"class="remaing-widget disable">
                                <div class="price">
                                    <button th:if="${trip.getDriver().equals(currentUser) }" class="theme-btn place-request" title="" href="#">+ view applications</button>
                                    <p>
                                        By booking this trip you accept our <a href="#" title="">conditions of use</a> and <a href="#" title="">cancellation policy</a>.
                                    </p>
                                </div>
                        </div><!-- remaining seat widget -->
                        <div class="about-owner top-space50">
                            <h5 class="little-title">Passengers:</h5>
                            <div class="owner-avatar" th:if="${approvedPassengersList != null}" th:each="passenger : ${approvedPassengersList}">
                                <figure><img th:if="${passenger.getUser().getProfilePic() != null}" th:src="${passenger.getUser().getProfilePic().getPic()}" alt=""></figure>
                                <figure><img th:unless="${passenger.getUser().getProfilePic() != null}" src="/images/default-pic.png" alt=""></figure>
                                <i title=""><img src="/images/icon-13.png" alt=""></i>
                                <!--                                        <div class="rate">-->
                                <!--                                            <ul class="stars-rating">-->
                                <!--                                                <li><i class="fa fa-star checked"></i></li>-->
                                <!--                                                <li><i class="fa fa-star checked"></i></li>-->
                                <!--                                                <li><i class="fa fa-star checked"></i></li>-->
                                <!--                                                <li><i class="fa fa-star checked"></i></li>-->
                                <!--                                                <li><i class="fa fa-star checked"></i></li>-->
                                <!--                                            </ul>-->
                                <!--                                            <i>12 Reviews</i>-->
                                <!--                                        </div>-->
                            </div>
                            <div class="admin-meta" th:each="passenger : ${approvedPassengersList}">
                                <span th:text="${passenger.getUser().getFirstName() + ' ' + passenger.getUser().getLastName()}">Cameron T.</span>

                                <a th:href="@{'/trips/'+ ${trip.id} + '/users/' + ${passenger.getUser().id} + '/feedbacks'}" title="" class="theme-btn long">send message</a>
                                <a th:href="@{'/trips/'+ ${trip.id} + '/users/'
                                            + ${passenger.getUser().id} + '/feedbacks/' + ${} + '/comments' }" title="" class="theme-btn long">send comment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- points section -->
    <div th:replace="~{fragments/PageForm :: footer}"></div>

<script src="js/apps.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>