<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/PageForm :: head}"></div>
<body>
<div class="site-layout">
    <div th:replace="~{fragments/PageForm :: header-top}"></div>
    <!-- topbar -->
    <div th:replace="~{fragments/PageForm :: topbar}"></div>
    <!-- subhead -->

    <section th:if="${isAuthenticated}">
        <div class="space no-space">
            <div class="container-fluid">
                <div class="cola-page">
                    <div class="cars-listing">

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-10">
                                    <form action="#" th:action="@{/users}" method="get"
                                          th:object="${filterOptionsUsers}">
                                        <h3 class="text-center">Filtering</h3>
                                        <div class="form-group">
                                            <div class="form-inline justify-content-center">
                                                <input type="text" class="form-control mr-2" placeholder="Username"
                                                       th:field="*{username}">
                                                <input type="text" class="form-control mr-2" placeholder="Phone number"
                                                       th:field="*{phoneNumber}">
                                                <input type="text" class="form-control mr-2" placeholder="Email"
                                                       th:field="*{email}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-inline justify-content-center">
                                                <select class="form-control mr-3" th:field="*{sortBy}">
                                                    <option value="">Sort By</option>
                                                    <option value="username">Username</option>
                                                    <option value="email">Email</option>
                                                </select>
                                                <select class="form-control mr-3" th:field="*{sortOrder}">
                                                    <option value="">Sort Order</option>
                                                    <option value="asc">Ascending</option>
                                                    <option value="desc">Descending</option>
                                                </select>
                                                <button style="margin-top: -30px" type="submit" class="theme-btn">
                                                    Search
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4" th:each="user : ${users}">
                                <div class="cars-list" style="padding: 25px">
                                    <img th:if="${user.getProfilePic() != null}"
                                         th:src="${user.getProfilePic().getPic()}" alt="Profile Picture"
                                         class="author-image">
                                    <img th:unless="${user.getProfilePic() != null}" src="/images/default-pic.png"
                                         alt="Default Profile Picture" class="author-image">
                                    <div class="car-inf">
                                        <h4><a class="post-title" th:href="'/users/' + ${user.id}"
                                               th:text="${user.firstName + ' ' + user.lastName}">Name</a></h4>
                                        <div class="phone-info">
                                            <p>Username:</p>
                                            <p style="color:#495060;" th:text="${user.username}">Username</p>
                                        </div>
                                        <div class="phone-info">
                                            <p>Phone:</p>
                                            <p th:text="${user.phoneNumber}">Phone number</p>
                                        </div>
                                        <div class="phone-info">
                                            <p>Email:</p>
                                            <p th:text="${user.email}">Phone number</p>
                                        </div>
                                        <div class="phone-info">
                                            <p>Covered distance:</p>
                                        </div>
                                        <div class="car-owner">
                                            <div class="car-meta">
                                                <ul class="stars-rating">
                                                    <li><i class="fa fa-star checked"></i></li>
                                                    <li><i class="fa fa-star checked"></i></li>
                                                    <li><i class="fa fa-star checked"></i></li>
                                                    <li><i class="fa fa-star checked"></i></li>
                                                    <li><i class="fa fa-star checked"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <form th:if="${currentUser.isAdmin()}" action="#"
                                              th:action="@{/users/blocks/__${user.id}__}"
                                              method="post">
                                            <div>
                                                <div th:if="${user.isBlocked()}">
                                                    <button type="submit" class="theme-btn" href="#">Unblock</button>
                                                </div>
                                                <div th:if="${!user.isBlocked()}">
                                                    <button type="submit" class="theme-btn" href="#">Block</button>
                                                </div>
                                            </div>
                                        </form>
                                        <br>
                                        <form th:if="${currentUser.isAdmin()}" action="#"
                                              th:action="@{/users/admin/__${user.id}__}"
                                              method="post">
                                            <div>
                                                <div th:if="${user.isAdmin()}">
                                                    <button type="submit" class="theme-btn" href="#">Remove Admin
                                                    </button>
                                                </div>
                                                <div th:if="${!user.isAdmin()}">
                                                    <button type="submit" class="theme-btn" href="#">Make Admin</button>
                                                </div>
                                            </div>
                                        </form>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- points section -->

    <div th:replace="~{fragments/PageForm :: footer}"></div>
</div>

<script src="/js/apps.min.js"></script>
<script src="/js/script.js"></script>
<script>
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 500,
            values: [75, 300],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) +
            " - $" + $("#slider-range").slider("values", 1));
    });
</script>


</body>
</html>