<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Car East</title>
    <link rel="icon" type="image/png" href="images/fav.png">

    <link rel="stylesheet" href="css/apps.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>
<body>
	<div class="site-layout">
		<div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="top-links">
                            <li><i class="flaticon-support"></i><a href="#" title="">support center</a></li>
                            <li><i class="flaticon-info"></i><a href="#" title="">Faq's</a></li>
                        </ul>
                        <div class="login-area">
                            <ul>
                                <li class="log-in"><a href="login.html" title="Login"><i class="flaticon-unlocked"></i> login</a></li>
                                <li class="Register"><a href="register.html" title="Register"><i class="flaticon-checked"></i> register</a></li>
                                <li class="post"><a href="#" title="">+post</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- topbar -->
		
		<div class="topbar">
        	<div class="container">
            	<div class="row">
                	<div class="col-md-12">
                        <header>
                            <div class="logo">
                                <a href="index.html" title="index.html"><img src="images/logo-black.png" alt=""></a>
                            </div>
                            <nav>
                                <ul class="main-menu">
                                    <li><a href="index.html" title="">Home</a>
										<ul>
											<li><a href="index-after-login.html" title="">page after login</a></li>
										</ul>
									</li>
                                    <li><a href="#" title="">cars</a>
										<ul>
											<li><a href="cars.html" title="">cars</a></li>
											<li><a href="car-profile.html" title="">car profile</a></li>
											<li><a href="car-detail.html" title="">cars detail</a></li>
											<li><a href="create-route-notification.html" title="">route notification</a></li>
											<li><a href="submit-car-intro.html" title="">Submit car introduction</a></li>
											<li><a href="submit-car-for-rent.html" title="">submit car for rent</a></li>
											<li><a href="submit-route.html" title="">submit car route</a></li>
										</ul>
									</li>
                                    <li><a href="#" title="">rides</a>
										<ul>
											<li><a href="ride-listing.html" title="">ride listing</a></li>
											<li><a href="ride-request.html" title="">ride request</a></li>
											<li><a href="ride-detail.html" title="">ride detail</a></li>
											<li><a href="ride-requests-list.html" title="">ride request list</a></li>
										</ul>
									</li>
									<li><a href="#" title="">leasing</a>
										<ul>
											<li><a href="leasing.html" title="">Leasing Page</a></li>
											<li><a href="leasing-car-step1.html" title="">leasing Step 1</a></li>
											<li><a href="leasing-car-step2.html" title="">leasing step 2</a></li>
										</ul>
									</li>
									<li><a href="#" title="">profiles</a>
										<ul>
											<li><a href="user-profile.html" title="">Profile user</a></li>
											<li><a href="user-profile-v2.html" title="">Profile user v2</a></li>
											<li><a href="my-profile.html" title="">My profile</a></li>
											<li><a href="profile-balance.html" title="">profile balance</a></li>
											<li><a href="profile-earning.html" title="">profile earning</a></li>
											<li><a href="profile-edit.html" title="">profile edit page</a></li>
											<li><a href="profile-invite-friend.html" title="">profile invite friend</a></li>
											<li><a href="profile-points.html" title="">profile points</a></li>
										</ul>
									</li>
									<li><a href="#" title=""><i class="fa fa-ellipsis-v"></i></a>
										<ul>
											<li><a href="login.html" title="">Login page</a></li>
											<li><a href="register.html" title="">Register Page</a></li>
											<li><a href="how-this-work.html" title="">how it's work</a></li>
											<li><a href="faq.html" title="">faq's</a></li>
											<li><a href="points.html" title="">poinst</a></li>
											<li><a href="coming-soon.html" title="">Coming Soon</a></li>
											<li><a href="404.html" title="">404 Page</a></li>
											
										</ul>
									</li>
                                </ul>
                            </nav>
                            <div class="time-info">
								<i class="flaticon-phone-call-1"></i>
								<span>Whatsapp now <em>+1-124-3456-2</em></span>
							</div>
                        </header>
                    </div>
                </div>
            </div>
        </div><!-- topbar header -->
        
		<div class="responsive-header">
			<div class="res-top">
				<ul>
					<li><a href="#" title="Home"><i class="flaticon-home"></i></a></li>
					<li><a href="#" title="Faq's"><i class="flaticon-info"></i></a></li>
					<li><a href="#" title="Support center"><i class="flaticon-support"></i></a></li>
					<li><a href="#" title="Login"><i class="flaticon-unlocked"></i></a></li>
					<li><a href="#" title="New register"><i class="flaticon-checked"></i></a></li>
					<li class="post-new"><a href="#" title="New post">+Post</a></li>
				</ul>
			</div>
			<div class="logomenu-bar">
				<div class="logo"><a href="index.html" title=""><img src="images/logo-black.png" alt=""></a></div>
				<span class="responsviemenu-btn"><i class="flaticon-menu-1"></i></span> 
			</div>
			<div class="responsive-menu">
				<span class="close-btn"><i class="flaticon-error-1"></i></span>
				<ul>
					<li><a href="index.html" title="">Home</a></li>
					<li class="menu-item-has-children"><a href="#" title="">cars</a>
						<ul class="sub-menu">
							<li><a href="index-after-login.html" title="">page after login</a></li>
							<li><a href="cars.html" title="">cars</a></li>
							<li><a href="car-profile.html" title="">car profile</a></li>
							<li><a href="car-detail.html" title="">cars detail</a></li>
							<li><a href="create-route-notification.html" title="">route notification</a></li>
							<li><a href="submit-car-intro.html" title="">Submit car introduction</a></li>
							<li><a href="submit-car-for-rent.html" title="">submit car for rent</a></li>
							<li><a href="submit-route.html" title="">submit car route</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children"><a href="#" title="">rides</a>
						<ul class="sub-menu">
							<li><a href="ride-listing.html" title="">ride listing</a></li>
							<li><a href="ride-request.html" title="">ride request</a></li>
							<li><a href="ride-detail.html" title="">ride detail</a></li>
							<li><a href="ride-requests-list.html" title="">ride request list</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children"><a href="#" title="">leasing</a>
						<ul class="sub-menu">
							<li><a href="leasing.html" title="">Leasing Page</a></li>
							<li><a href="leasing-car-step1.html" title="">leasing Step 1</a></li>
							<li><a href="leasing-car-step2.html" title="">leasing step 2</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children"><a href="#" title="">profiles</a>
						<ul class="sub-menu">
							<li><a href="user-profile.html" title="">Profile user</a></li>
							<li><a href="user-profile-v2.html" title="">Profile user v2</a></li>
							<li><a href="my-profile.html" title="">My profile</a></li>
							<li><a href="profile-balance.html" title="">profile balance</a></li>
							<li><a href="profile-earning.html" title="">profile earning</a></li>
							<li><a href="profile-edit.html" title="">profile edit page</a></li>
							<li><a href="profile-invite-friend.html" title="">profile invite friend</a></li>
							<li><a href="profile-points.html" title="">profile points</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children"><a href="#" title="">more pages</a>
						<ul class="sub-menu">
							<li><a href="login.html" title="">Login page</a></li>
							<li><a href="register.html" title="">Register Page</a></li>
							<li><a href="how-this-work.html" title="">how it's work</a></li>
							<li><a href="faq.html" title="">faq's</a></li>
							<li><a href="points.html" title="">poinst</a></li>
							<li><a href="coming-soon.html" title="">Coming Soon</a></li>
							<li><a href="404.html" title="">404 Page</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- Responsive Header -->
        
		<div class="sub-head blackish ext-low-opacity">
			<div class="bg-image" style="background-image: url(images/resources/subhead-bg.jpg)"></div>
        	<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="cola-head">
							<div class="head-meta">
								<h4>Selena G.</h4>
								<p>( Cambridge )</p>
							</div>
							<a href="#" title="" class="theme-btn"><i class="fa fa-share-alt"></i>share profile</a>
							<div class="info-links">
								<a href="#" title="">how does this work</a>
								<a href="#" title="">submit your car</a>
								<span><i class="fa fa-phone"></i>call (012) 345 - 6789</span>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div><!-- subhead -->
        
        <section>
        	<div class="space">
        		<div class="container">
        			<div class="row">
                    	<div class="col-md-12">
                        	<div class="profile-edit">
                            	<div class="row">
                                	<div class="col-lg-3">
                                    	<div class="profile-dp">
                                        	<figure><img src="images/resources/profile-dp3.jpg" alt=""></figure>
                                            <div class="profile-info">
												<span class="profile-name">Selena G.</span>
												<ul class="stars-rating">
													<li><i class="fa fa-star checked"></i></li>
													<li><i class="fa fa-star checked"></i></li>
													<li><i class="fa fa-star checked"></i></li>
													<li><i class="fa fa-star checked"></i></li>
													<li><i class="fa fa-star checked"></i></li>
												</ul>
												<ins>5 Reviews</ins>
											</div>
                                            <ul class="verification">
                                            	<li><i class="flaticon-world"></i>Online on 4 Oct, 2017 at 08:36</li>
                                                <li><i class="flaticon-tick"></i>Account connected on Facebook</li>
                                                <li><i class="flaticon-tick"></i>Phone number verified</li>
                                            </ul>
                                            <a href="#" title="" class="theme-btn">send message</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-12">
                                    	<div class="edit-profile">
                                        	<form method="post" class="cola-form">
                                            	<div class="row">
                                                	<div class="col-md-4">
                                                    	<label>first Name:</label>
                                                		<input type="text" placeholder="Jessica">
                                                    </div>
                                                    <div class="col-md-4">
                                                    	<label>last Name:</label>
                                                		<input type="text" placeholder="Terrace">
                                                    </div>
                                                    <div class="col-md-4">
                                                    	<label>Street & number:</label>
                                                		<input type="text" placeholder="Joy Lane Montrose, 2917">
                                                    </div>
                                                    <div class="col-md-4">
                                                    	<label>Nationality:</label>
                                                		<select>
                                                        	<option>USA</option>
                                                            <option>UK</option>
                                                            <option>USSR</option>
                                                            <option>canada</option>
                                                            <option>saudia</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                    	<label>driver's license issuance country</label>
                                                		<select>
                                                        	<option>USA</option>
                                                            <option>UK</option>
                                                            <option>USSR</option>
                                                            <option>canada</option>
                                                            <option>saudia</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2">
                                                    	<label>city:</label>
                                                        <input type="text" placeholder="">
                                                    </div>
													<div class="col-md-2">
                                                    	<label>Postal Code:</label>
                                                        <input type="text" placeholder="">
                                                    </div>
                                                    <div class="col-md-4">
                                                    	<label>Street & number: <a href="#" title="" class="update-nmbr">update</a></label>
                                                		<input type="text" placeholder="0123456789" disabled>
                                                    </div>
                                                    <div class="col-md-4">
                                                    	<label>Training:</label>
                                                		<input type="text" placeholder="">
                                                    </div>
                                                    <div class="col-md-4">
                                                    	<label>Number driving license: <i class="fa fa-info-circle"></i></label>
                                                		<input type="text" placeholder="">
                                                    </div>
                                                    <div class="col-md-4">
                                                    	<p>We will send you SMS that will notify you about reservations & cancellations.</p>
                                                    </div>
                                                    <div class="col-lg-4 col-md-12">
                                                    	<label>Date of birth:</label>
                                                        <div class="row">
                                                    	<div class="col-md-4">
                                                            <select>
                                                            	<option data-display="D">D</option>
                                                                <option>sun</option>
                                                                <option>mon</option>
                                                                <option>tue</option>
                                                                <option>wed</option>
                                                                <option>thir</option>
                                                                <option>fri</option>
                                                                <option>sat</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select>
                                                                <option data-display="M">M</option>
                                                                <option>Jan</option>
                                                                <option>Feb</option>
                                                                <option>Mar</option>
                                                                <option>April</option>
                                                                <option>May</option>
                                                                <option>June</option>
                                                                <option>July</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select>
                                                                <option data-display="Y">Y</option>
                                                                <option>1980</option>
                                                                <option>1981</option>
                                                                <option>1982</option>
                                                                <option>1983</option>
                                                            </select>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-12">
                                                    	<label>driver's license issuance date</label>
                                                        <div class="row">
                                                    	<div class="col-md-4">
                                                            <select>
                                                            	<option data-display="D">D</option>
                                                                <option>sun</option>
                                                                <option>mon</option>
                                                                <option>tue</option>
                                                                <option>wed</option>
                                                                <option>thir</option>
                                                                <option>fri</option>
                                                                <option>sat</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select>
                                                                <option data-display="M">M</option>
                                                                <option>Jan</option>
                                                                <option>Feb</option>
                                                                <option>Mar</option>
                                                                <option>April</option>
                                                                <option>May</option>
                                                                <option>June</option>
                                                                <option>July</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select>
                                                                <option data-display="Y">Y</option>
                                                                <option>1980</option>
                                                                <option>1981</option>
                                                                <option>1982</option>
                                                                <option>1983</option>
                                                            </select>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                    	<div class="dp-edit">
                                                        	<span>Profile image:</span>
                                                            <figure>
                                                            	<img src="images/resources/renter-2.jpg" alt="">
                                                            </figure>
                                                            <a href="#" title=""><i class="fa fa-close"></i>delete</a>
                                                            <input type="file">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                    	<label>about me:</label>
                                                        <textarea rows="5"></textarea>
                                                    </div>
                                                    <div class="col-md-6">
                                                    	<label>E-mail address:</label>
                                                        <input type="text" placeholder="jessica@hotmail.com">
                                                        <i>You have authenticated using your Facebook account.</i>
                                                    </div>
                                                    <div class="col-md-6">
                                                    	<label>Bank account number (20 digits):</label>
                                                        <input type="text" placeholder="Number">
                                                        <i>Add the last 20 digits of your account without IBAN.</i>
                                                    </div>
                                                    <div class="col-md-12">
                                                    	<ul class="payment-selection">
                                                        	<li><span>Payment method:</span>There is no payment card. <a href="#" title="" class="add-paymethod">Add a new one?</a></li>
                                                            <li><span>Messages:</span>
                                                            	<p>
                                                                    <input type="checkbox">
                                                                    <label></label>
                                                                    Receive messages from other users.
                                                                </p>
                                                            </li>
                                                            <li><span>language:</span></li>
                                                            <li>
                                                            	<select>
																	<option data-select="English">English</option>
																	<option>US English</option>
																	<option>UK English</option>
																	<option>Dutch</option>
																	<option>French</option>
																	<option>Arabic</option>
																</select>
                                                            </li>
                                                        </ul>
                                                        <div class="notification-rec">
                                                        	<span>notifications:</span>
                                                            
                                                            	<p>
                                                                    <input type="checkbox">
                                                                    <label></label>
                                                                    Receive emails from other users
                                                                </p>
                                                                <p>
                                                                    <input type="checkbox">
                                                                    <label></label>
                                                                	Receive e-mails from requests / reservations / recommendations
                                                                </p>
                                                                <p>
                                                                    <input type="checkbox">
                                                                    <label></label>
                                                                    Receive travel emails through your alerts
                                                                </p>
                                                                <p>
                                                                    <input type="checkbox">
                                                                    <label></label>
                                                                    Receive emails about the status of your points
                                                                </p>
                                                                <p>
                                                                    <input type="checkbox">
                                                                    <label></label>
                                                                    Receive SMS for notices of requests, reservations, cancellatand rejected requests
																</p>
                                                            
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="theme-btn long">save change</button>
                                                </div>
                                            </form>
                                        </div>
                                        
										<div class="cola-notice blackish medium-opacity add-marg-50">
											<div style="background-image: url(images/resources/notification-bg.jpg)" class="bg-image"></div>
											<i class="flaticon-error-1"></i>
											<h4>Delete my account?</h4>
											<span>If you delete your account, all your information including your trips, messages, events, etc. will be deleted immediately from this website.</span>
											<a title="" href="#" class="theme-btn long">yes, delete it</a>
										</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
        		</div>
        	</div>
        </section><!-- points section -->
        
        <footer class="light">
			<div class="mockup-right">
				<img src="images/resources/footer-mockup.png" alt="">
			</div>
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-4 col-sm-6">
                    	<div class="widget">
                            <a href="index.html" title=""><img src="images/logo-black.png" alt=""></a>
                            <p>
                            	The trio took this simple idea and built it into the world’s leading carpooling platform, connecting millions of people going the same way. 
                            </p>
							<ul class="social">
								<li><a href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" title="" class="instagram"><i class="fa fa-instagram"></i></a></li>
							</ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                    	<div class="widget">
                        	<div class="widget-title"><h4>useful links</h4></div>
                            <ul class="list-style">
                            	<li><a href="#" title="">leasing</a></li>
                                <li><a href="#" title="">submit route</a></li>
                                <li><a href="#" title="">how does it work?</a></li>
                                <li><a href="#" title="">agent listings</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="widget">
                            <div class="widget-title"><h4>weekly news letter</h4></div>
                            <div class="news-letter">
                                <p>We may send you information about related events, webinars, products and services which we believe.</p>
                                <form method="post">
                                    <input type="text" placeholder="Enter your email address">
                                    <button type="submit"><i class="fa fa-paper-plane-o"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                    	<div class="widget">
                        	<div class="widget-title"><h4>download apps</h4></div>
                            <ul class="colla-apps">
                            	<li><a href="#" title=""><i class="flaticon-android"></i> android</a></li>
                                <li><a href="#" title=""><i class="flaticon-apple"></i> iPhone</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
			<div class="bottombar">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<span class="copyright">© 2019. All rights reserved.</span>
							<i><img src="images/credit-cards.png" alt=""></i>
						</div>
					</div>
				</div>
			</div>
        </footer><!-- footer -->
        
        <div class="popup-wraper fone">
        	<div class="popup nopading">
        		<span class="popup-closed"><i class="flaticon-error-1"></i></span>
        		<div class="phone-update">
        			<div class="popup-head">
        				<h4>Verify your phone number</h4>
        				<p>
        					Please check your number. It is necessary reservations and makes the rest of users trust more in your profile.
        				</p>
        			</div>
        			<div class="pading">
						<form method="post">
							<label>Type in your phone number:</label>
							<select>
								<option>+44</option>
								<option>+44</option>
								<option>+44</option>
							</select>
							<input type="text" placeholder="">
							<button class="theme-btn long">send me a SMS</button>
						</form>
        			</div>
        		</div>
        	</div>
        </div><!-- send message popup -->
        
        <div class="popup-wraper">
        	<div class="popup nopading">
        		<span class="popup-closed"><i class="flaticon-error-1"></i></span>
        		<div class="paycard">
        			<div class="popup-head">
        				<h4>Add new card</h4>
        				<p>
        					Add a method of payment for fast bookings & rentals.
        				</p>
        			</div>
        			<div class="pading">
						<form method="post">
							<div class="row">
								<div class="col-md-12">
									<label>Card number:</label>
									<input type="text" placeholder="">
								</div>
								<div class="col-md-12">
									<label>Expiration date:</label>
								</div>
								<div class="col-md-6">
									<input type="text" placeholder="">
								</div>
								<div class="col-md-6">
									<input type="text" placeholder="">
								</div>
								<div class="col-md-8">
									<label>CVC:</label>
									<input type="text" placeholder="">
									<img src="images/cvc.png" alt="">
								</div>
								<button class="theme-btn long">save this card</button>
							</div>
						</form>
        			</div>
        		</div>
        	</div>
        </div><!-- send message popup -->
        
        
        
    </div>

	<script src="js/apps.min.js"></script>
    <script src="js/script.js"></script>
        
</body>	
</html>		